body {
    background-color: azure;
}

h1 {
    background-color: burlywood;
    border-style: dotted;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}